{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5 mb-5">
    <h1 class="title">Welcome to Wild-Series</h1>
    <h2>All TV shows: </h2>
    <div class="row">
    {% for program in programs %}
            <div class="col-4 mt-3 text-dark">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height:25rem;" src="{{program.poster}}" alt="{{ program.title }} poster">
                <div class="card-body">
                    <h5 class="card-title">{{ program.title }} - Category: {{ program.category.name }}</h5>
                    <a class="btn" href="{{ path('wild_show', {'slug': program.slug }) }}">{{ program.title }}</a>
                </div>    
            </div>
        </div>
       
    {% else %}
        No TV show found.
    {% endfor %}
    </div> 
</div> 
{% endblock %}