 
{% extends 'base.html.twig' %}

{% block title %}{{ category.0.name }}{% endblock %}

{% block body %}
    {% for category in category %}
        <h2>{{ category.name }}</h2>
    {% endfor %}
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
{% endblock %}