{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div class="card mx-auto mt-5 w-25 h-75">
        <div class="card-body">
            <h5 class="card-title"> {{ season.description }} de {{ program.title }}</h5>
            <p class="card-text"> {{ program.summary }}</p>
        </div>
        <ul class="list-group list-group-flush">
            {% for episode in episodes %}
                <li class="list-group-item"><a href="{{ path('show_episode', {"id":episode.id}) }}">Episode {{ episode.number }} : {{ episode.title }}</a></li>
            {% endfor %}
        </ul>
    </div>




    <button type="button" class="btn btn-lg round m-5">
        <a href="{{ path('wild_index') }}"> Retour à l'accueil </a>
    </button>
{% endblock %}
