{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Episode {{ episode.number }}: {{ episode.title }}
    </h1>
    <p>
        <b>
            Season {{ season.number }}
        </b>
        -
        {{ program.title }}
    </p>
    <p>
        {{ episode.synopsis }}
    </p>
        {% if app.user %}
        <div class="mx-auto mt-5 w-50 h-75">
            <h3 class="commentTitle"> Laisser un commentaire </h3>

            {{ form_start(form) }}
            <h5 class="mt-4">Commentaire :</h5>
            {{ form_widget(form.comment) }}
            <h5 class="mt-4">Note :</h5>
            {{ form_widget(form.rate) }}
            <div class="text-right">
                <button class="btn round btn-lg mt-3 text-center">{{ button_label|default('Valider') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}
        <div class="mx-auto mt-5 w-50 h-75"> 
        <h3 class="commentTitle"> Commentaires : </h3>
        {% for comment in comments|sort %}
                <p>Auteur : {{ comment.author.email }}</p>
                <p>Commentaire : {{ comment.comment }}</p>
                <p>
                {% for i in 1..comment.rate  %}
                    <i class="fas fa-star"></i>
                {% endfor %}
                </p>
                <hr>
        {% endfor %}
    </div>
    <p>
        <a href="{{ path('show_season', {seasonId: season.id}) }}">
            Back to season list
        </a>
        -
        <a href="{{ path('show_program', {programName: hyphenizedProgramTitle}) }}">
            Back to show details
        </a>
    </p>
{% endblock %}