{% extends 'base.html.twig' %}

{% block body %}
<div class="container m-5">
    <h1>{{ program.title }}</h1>
    <h2>
        Seasons list:
    </h2>
    <ul>
    {% for season in seasons %}
        <li>
            <a href="{{ path('show_season', {seasonId: season.id}) }}">
                <b>
                    Season {{ season.number }}
                </b>
            </a>
            <p>
              <b>{{ season.year }}</b> - {{ season.description }}
            </p>
        </li>
    {% endfor %}
    </ul>
</div>
<strong>Acteur :</strong>
<ul>
    {% for actor in program.actors %}
        <li><a href="{{ path('actor_show', {'name': actor.name}) }}">{{ actor.name }}</a></li>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>  
{% endblock %}

