{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1>
        {{ program.title }} - Season {{ season.number }}
    </h1>
    <p>
        {{ season.description }}
    </p>
    <h2>
        Episodes list:
    </h2>
    <ul>
    {% for episode in episodes %}
        <li>
            <a href="{{ path('show_episode', {'title': hyphenizedTitles[loop.index - 1] }) }}">
            {# <a href="{{ path('show_episode', {'title': episode.title }) }}"> #}
                <b>
                    {{ episode.number }} / {{ episode.title }}
                </b>
            </a>
            <p>
                {{ episode.synopsis }}
            </p>
        </li>
    {% endfor %}
    </ul>
</div>    
{% endblock %}
