{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="col-12">{{ program.title }}</h1>
    <div class="row mt-5">
      <img class="col-4 img_show" src="{{program.poster}}" alt="{{ program.title }} poster">
      <iframe class="col-8" src="https://www.youtube.com/embed/w-omQBtshvk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p class="col-12 mt-5">{{ program.synopsis }} <br> Category: {{ program.category.name }}</p>
    </div>

    <div class="row mt-5">
        <h2 class="col-6">Seasons list:</h2>
        <h2 class="col-6">Acteur :</h2>
        <ul class="col-6">
        {% for season in seasons %}
            <li>
                <a href="{{ path('show_season', {seasonId: season.id}) }}">
                    <b>
                        Season {{ season.number }}
                    </b>
                </a>
                <p>
                <b>{{ season.year }}</b> - {{ season.description }}
                </p>
            </li>
        {% endfor %}
        </ul>
        
        <ul class="col-6">
            {% for actor in program.actors %}
                <li><a href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ actor.name }}</a></li>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>    
    </div>
</div>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
{% endif %}   
{% endblock %}
